.modal {
  :global(.modal-content) {
    border-radius: var(--radius);
    background-color: var(--light-purple);
  }


  :global(.modal-header) {
    .modalTitle {
      color: var(--primary-purple);
    }
  }

  :global(.modal-body) {
    padding: 20px; 

    form {
      input,
      select {
        width: 100%; /* Все элементы занимают одинаковую ширину */
        height: 7vh; /* Фиксированная высота для единообразия */
        border-radius: var(--radius);
        background-color: #fff;
        padding: 10px; /* Внутренние отступы для текста */
        font-size: 1rem; /* Устанавливаем читаемый размер шрифта */
        border: 1px solid #ced4da; /* Добавляем легкую границу для контраста */
        box-sizing: border-box; /* Учитываем padding в ширине */
        &:focus {
          border-color: var(--accent-purple);
          outline: none; /* Убираем стандартный outline */
          box-shadow: 0 0 5px rgba(138, 99, 255, 0.3); /* Легкая тень при фокусе */
        }
      }

      select {
        appearance: none; /* Убираем стандартную стрелку */
        background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16"><path d="M7.247 11.14L2.451 6.658C1.885 6.013 2.345 5 3.204 5h9.592c0.859 0 1.32 1.013 0.753 1.658L8.753 11.14a0.5 0.5 0 0 1-0.506 0z"/></svg>')
          no-repeat right 10px center; /* Кастомная стрелка */
        cursor: pointer;
      }

      button {
        width: 100%; /* Кнопка занимает всю ширину, как инпуты */
        height: 7vh; /* Такая же высота, как у инпутов */
        background-color: var(--primary-purple);
        border-radius: var(--radius);
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
        border: none;
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: var(--accent-purple);
        }
      }
    }
  }

  :global(.modal-footer) {
    button {
      width: 100%; /* Кнопка "Закрыть" тоже пропорциональна */
      height: 7vh;
      background-color: var(--primary-purple);
      border-radius: var(--radius);
      font-size: 1rem;
      font-weight: 500;
      color: #fff;
      border: none;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: var(--accent-purple);
      }
    }
  }

  .formElement {
    display: flex;
    flex-direction: column;
    gap: 2.5vh; /* Равномерный отступ между элементами */
    max-width: 50vh; /* Ограничиваем ширину формы для лаконичности */
    margin: 0 auto; /* Центрируем форму */
  }

  .modalTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 20%;
  }
}

.filterBtnContainer {
  display: flex;
  justify-content: center;
}

.filterBtn {
  width: 50vh;
  background-color: var(--primary-purple);
}


