.carouselContainer {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100vh;
    margin-top: 10vh;
    overflow: hidden;
  }
  
  .noResumes {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    font-size: 60px;
    font-weight: 600;
  }